<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<body ng-app="myApp" ng-controller="TablUmnojenia">
    <div ng-app="" ng-init="firstName='John'">
        <p>Enter your number: <input type="text" ng-model="entered"></p>
    </div>

    <h1 ng-repeat="x in records">{{x}}*{{entered}} = {{x*entered}}</h1>

    <script>
        var app = angular.module("myApp", []);
        app.controller("TablUmnojenia", function($scope) {
            $scope.records = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        });
    </script>

</body>

</html>