<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
<div ng-app="myApp" ng-controller="arrCtrl">
<table style="width:23%">
  <tr>
    <th>Name</th>
    <th>Grade</th>
  </tr>
  <tr ng-repeat="x in students | orderBy : 'grade'">
  <td>{{(x.fullname)}}</td>
    <td>{{(x.grade)}}</td>
  </tr>
</table>
<select ng-model="selectedStudent">
<option ng-repeat="x in students">{{(x.fullname +" "+ x.grade)}}</option>
    </select>
    <p>Выбранный студент: {{selectedStudent}}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('arrCtrl', function($scope) {
$scope.students = [
{"fullname" : "Tracenco Nikita", "grade" : 10},
{"fullname" : "Dats Pasha", "grade" : 8},
{"fullname" : "Tracenco Egor", "grade" : 7},
{"fullname" : "Girgilijiu Petea", "grade" : 6}, 
{"fullname" : "Drutsa MAxim", "grade" : 9}
];
});
</script>

</body>
</html>
